In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
fraudTrain_df = pd.read_csv('fraudTrain.csv')

In [3]:
fraudTrain_df['is_fraud'] = fraudTrain_df['is_fraud'].astype(bool)

In [4]:
fraudTrain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778887 entries, 0 to 778886
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             778887 non-null  int64
 1   trans_date_trans_time  778887 non-null  object
 2   cc_num                 778887 non-null  int64
 3   merchant               778887 non-null  object
 4   category               778887 non-null  object
 5   amt                    778887 non-null  float64
 6   first                  778887 non-null  object
 7   last                   778887 non-null  object
 8   gender                 778887 non-null  object
 9   street                 778887 non-null  object
 10  city                   778887 non-null  object
 11  state                  778887 non-null  object
 12  zip                    778887 non-null  int64
 13  lat                    778887 non-null  float64
 14  long                   778887 non-null  float64
 15  city_pop               778887 non-null  int64
 16  job                    778887 non-null  object
 17  dob                    778887 non-null  object
 18  trans_num              778887 non-null  object
 19  unix_time              778886 non-null  float64
 20  merch_lat              778886 non-null  float64
 21  merch_long             778886 non-null  float64
 22  is_fraud               778887 non-null  bool
dtypes: bool(1), float64(6), int64(4), object(12)
memory usage: 95.8+ MB

In [5]:
fraudTrain_df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1.325376e+09,36.011293,-82.048315,False
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1.325376e+09,49.159047,-118.186462,False
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1.325376e+09,43.150704,-112.154481,False
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1.325376e+09,47.034331,-112.561071,False
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1.325376e+09,38.674999,-78.632459,False

In [6]:
fraudTrain_df.dropna(inplace=True)
fraudTrain_df = fraudTrain_df[['cc_num','amt','lat','long','merch_lat','merch_long','is_fraud']]
X = fraudTrain_df
y = fraudTrain_df['is_fraud']

In [7]:
X.drop('is_fraud',axis=1,inplace=True)
X

                     cc_num     amt      lat      long  merch_lat  merch_long
0          2703186189652095    4.97  36.0788  -81.1781  36.011293  -82.048315
1              630423337322  107.23  48.8878 -118.2105  49.159047 -118.186462
2            38859492057661  220.11  42.1808 -112.2620  43.150704 -112.154481
3          3534093764340240   45.00  46.2306 -112.1138  47.034331 -112.561071
4           375534208663984   41.96  38.4207  -79.4629  38.674999  -78.632459
...                     ...     ...      ...       ...        ...         ...
778881         502012776709   52.74  42.6315  -75.1866  42.666919  -75.791580
778882      343668971234893    9.98  33.9349  -80.8449  33.977722  -80.312536
778883  4428780983793657331   72.92  42.9993  -88.2196  42.883618  -88.769500
778884  4223708906367574214   98.54  39.0965  -84.6431  38.697112  -83.816613
778885     3547560454237873  121.78  44.5232  -86.2061  44.422837  -85.711984

[778886 rows x 6 columns]

In [8]:
fraudTrain_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 778886 entries, 0 to 778885
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   cc_num      778886 non-null  int64
 1   amt         778886 non-null  float64
 2   lat         778886 non-null  float64
 3   long        778886 non-null  float64
 4   merch_lat   778886 non-null  float64
 5   merch_long  778886 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 41.6 MB

In [9]:
fraudTrain_df.head(10)

             cc_num     amt      lat      long  merch_lat  merch_long
0  2703186189652095    4.97  36.0788  -81.1781  36.011293  -82.048315
1      630423337322  107.23  48.8878 -118.2105  49.159047 -118.186462
2    38859492057661  220.11  42.1808 -112.2620  43.150704 -112.154481
3  3534093764340240   45.00  46.2306 -112.1138  47.034331 -112.561071
4   375534208663984   41.96  38.4207  -79.4629  38.674999  -78.632459
5  4767265376804500   94.63  40.3750  -75.2045  40.653382  -76.152667
6    30074693890476   44.54  37.9931 -100.9893  37.162705 -100.153370
7  6011360759745864   71.65  38.8432  -78.6003  38.948089  -78.540296
8  4922710831011201    4.27  40.3359  -79.6607  40.351813  -79.958146
9  2720830304681674  198.39  36.5220  -87.3490  37.179198  -87.485381

In [10]:
sample_cc_df = fraudTrain_df[fraudTrain_df.cc_num==4767265376804500]
sample_cc_df

                  cc_num     amt     lat     long  merch_lat  merch_long
5       4767265376804500   94.63  40.375 -75.2045  40.653382  -76.152667
3556    4767265376804500    1.37  40.375 -75.2045  40.009640  -75.902965
5836    4767265376804500   17.25  40.375 -75.2045  41.115743  -74.456432
8041    4767265376804500    1.39  40.375 -75.2045  39.666801  -75.766857
8302    4767265376804500    6.52  40.375 -75.2045  41.283461  -74.957376
...                  ...     ...     ...      ...        ...         ...
767173  4767265376804500   57.86  40.375 -75.2045  40.651651  -74.634390
769953  4767265376804500    4.97  40.375 -75.2045  41.360352  -75.568389
771060  4767265376804500  101.39  40.375 -75.2045  41.131507  -74.782780
776431  4767265376804500   35.34  40.375 -75.2045  40.100278  -74.949956
778798  4767265376804500  160.12  40.375 -75.2045  40.300694  -75.354089

[331 rows x 6 columns]

In [5]:
from sklearn.ensemble import RandomForestClassifier

In [6]:
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [7]:
from sklearn.model_selection import train_test_split

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [20]:
y_pred = rf_classifier.predict(X_test)
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))